<!-- This HTML file is responsible for displaying the items that makes up the contact  -->
<!-- Anchor tag was move here, however the "contact" object cannot be found in this component.-->
<!-- We had to use the @input to access it from the contact-list component which can be found in .ts file -->

<a href="#" class="list-group-item clearfix"  >
    <div class="pull-left">
      <h4 class="list-group-item-heading">{{ contact.name }}</h4>
    </div>
    <span class="pull-right">
      <img [src]="contact.imageURL" alt="{{ contact.name }}" class="img-responsive" style="max-height: 50px;">
    </span>
  </a>